* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background: #e0e0e0;
}

::-webkit-scrollbar-track {
  background-color: #fbfbfb;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #7e5ccc;
}

::-webkit-scrollbar-thumb {
  background-color: #6449a0;
  border-radius: 5px;
}

html {
  /* font-size: 10px;
   */
  /* 10px / 16px = 0.625 * 100 = 62.5 */
  /* es un porcentaje de la fuente del navegador del usuario */
  font-size: 62.5%;
}

body {
  font-family: "Maven Pro", sans-serif;
  /* line-height: 1; */
  font-weight: 400;
  color: #555;
  font-family: 1rem;

  @media (width <= 48em) {
    border: 2px solid red;
    padding: 4rem;
  }
}

header {
  /* border: 3px solid green; */
  background-color: rgba(255, 255, 255, 0.521);
  position: relative;
}

.link,
.link:link,
.link:visited,
.link::after {
  color: #555;
}

/* .link:hover {
  color: red;
} */

.link:hover {
  color: #7e5ccc;
  transition: all 0.3s;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.margin__bottom {
  margin-bottom: 60rem;
}

.test p {
  width: 100%;
  height: 1rem;
  background-color: red;
  display: inline;
  margin: 0;
  padding: 0;
}

.name__section {
  /* border: 1px solid red; */
  font-size: 2.6rem;
  display: inline;
  color: #7e5ccc;
  margin-left: 48px;

  @media (width <= 48em) {
    /* border: 1px solid red; */

    font-size: 2rem;
  }
}

.about__me {
  position: relative;
  @media (width <= 48em) {
    /* position: static; */
  }
}

.about__me .name__section::after {
  position: absolute;
  left: 0;
  top: 11.5rem;
  /* top: 20px; */
  content: "";
  width: 80px;
  height: 4px;
  background-color: #7e5ccc;
}

@media (max-width: 48em) {
  .about__me .name__section::after {
    content: none;
  }
}

.especialization {
  position: relative;
}

.especialization .name__section::after {
  position: absolute;
  left: 0;
  top: 14rem;
  /* top: 20px; */
  content: "";
  width: 80px;
  height: 4px;
  background-color: #7e5ccc;
}

@media (max-width: 48em) {
  .especialization .name__section::after {
    content: none;
  }
}

.experience {
  position: relative;
}

.experience .name__section::after {
  position: absolute;
  left: 0;
  top: 12rem;
  /* top: 20px; */
  content: "";
  width: 80px;
  height: 4px;
  background-color: #7e5ccc;
}

.title__subtitle-section {
  /* border: 1px solid red; */
  font-size: 2.2rem;
  display: inline;
  color: #7e5ccc;
  margin-left: 48px;
}

.darkmode.link,
.darkmode.link::after,
.darkmode.link:visited,
.darkmode.link:link,
.darkmode.link::before {
  color: #cbbeea;
  transition: all 0.5s ease-in-out;
}

.darkmode .name__section {
  color: #f5f5f5;
}
