:root {
  --primary-color-1: #3f2e65;
  --primary-color-2: #6449a0;
  --primary-color-3: #977dd6;
  --primary-color-4: #cbbeea;
  --primary-color-5: #e8e3f5;

  --dark-color-1: #0c0914;
  --dark-color-2: #1a1229;
  --dark-color-3: #383838;

  --gray-light-1: #f5f5f5;
  --gray-light-2: #e0e0e0;
  --gray-light-3: #cccccc;
  --gray-light-4: #b8b8b8;
  --gray-light-5: #a3a3a3;

  --gray-dark-1: #8f8f8f;
  --gray-dark-2: #666666;
  --gray-dark-3: #525252;
  --gray-dark-4: #383838;
}

.header__top {
  border: 1px solid red;

  display: flex;
}
.logo {
  width: 10%;
  border: 1px solid green;
}

/* menu center */
.nav__center {
  /* width: 80%; */
  flex: 1;
  border: 1px solid green;
  padding: 3rem;
}

.nav__center .items {
  color: var(--dark-color-2);
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  gap: 2rem;
}

.nav__center .items li {
  /* border: 1px solid green; */
  position: relative;
  padding: 0.4rem;
  transition: all 0.5s;
  /* border-bottom: 2px solid transparent; */
}

.nav__center .items li:hover {
  color: var(--primary-color-2);
  /* border-bottom: 2px solid red; */
}

.active::after {
  content: " ";
  width: 100%;
  height: 2px;

  position: absolute;
  top: 24px;
  left: 0;
  border-bottom: 3px solid var(--primary-color-3);
  /* background-color: #0c0914; */
}

.nav__right {
  border: 1px solid green;
  padding: 3rem;

  /* width: 100%; */
}

.nav__right .items {
  border: 1px solid green;

  list-style: none;
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 4rem;
  font-size: 1.1rem;
  height: 4rem;
  /* font-weight: 400; */
}

.list-item .btn__idioma {
  /* display: inline-block; */
  padding: 1rem;
  color: var(--primary-color-2);
  font-weight: 600;
  border-radius: 5px;
  background-color: var(--primary-color-5);
  text-decoration: none;
}

.icon {
  fill: var(--primary-color-2);
}
