:root {
  --primary-color-1: #3f2e65;
  --primary-color-2: #6449a0;
  --primary-color-3: #7e5ccc;
  --primary-color-4: #cbbeea;
  --primary-color-5: #e8e3f5;

  --dark-color-1: #0c0914;
  --dark-color-2: #1a1229;
  --dark-color-3: #383838;
  --darkmode: #1f1e24;

  --gray-light-1: #f2f5f9;
  /* --gray-light-1: #f5f5f5; */
  --gray-light-2: #e0e0e0;
  --gray-light-3: #cccccc;
  --gray-light-4: #b8b8b8;
  --gray-light-5: #a3a3a3;

  --gray-dark-1: #8f8f8f;
  --gray-dark-2: #666666;
  --gray-dark-3: #6f7275;
  --gray-dark-4: #383838;

  --white: #fff;
  --black: #000;
}

/* ========= HEADER ======= */

.header__top {
  border: 1px solid red;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* background-color: var(--white); */
  /* margin-bottom: 6rem; */
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid var(--gray-light-1);
}

.header__top.blurred {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
}

.header__top.reduce {
  height: 7rem;
  transition: all 0.5s ease-in-out;
  padding: 0.2rem;
}

/* ---- LOGO --- */

.logo {
  /* border: 1px solid blue; */
  width: auto;
  margin-left: 2rem;

  @media (width <= 400px) {
    overflow: hidden;
  }
}

.logo_hidden {
  display: none;
}

.logo img {
  width: auto;
  height: 6rem;
  cursor: pointer;
}

/* ---- NAV CENTER --- */

.nav__center {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
}

.nav__center .items {
  /* border: 1px solid green; */
  color: white;
  cursor: pointer;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  gap: 2rem;
}

.nav__center .items li {
  position: relative;
  padding: 0.4rem;
  transition: all 0.5s;
}

.nav__center .items li .dowloader_cv:hover {
  color: var(--primary-color-2);
}

.nav__center .items li a {
  text-decoration: none;
}

/* ---- NAV RIGTH --- */
.nav__right {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.nav__right .items {
  /* border: 1px solid green; */
  list-style: none;
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 4rem;
  font-size: 1.1rem;
  height: 4rem;
}

.list-item {
  /* border: 1px solid red; */
}

.list-item .btn__idioma {
  padding: 1rem;
  color: var(--primary-color-2);
  font-family: inherit;
  font-weight: 600;
  border-radius: 5px;
  background-color: var(--primary-color-5);
  text-decoration: none;
  transition: all 0.5s;
}

.list-item .btn__idioma:hover {
  background-color: var(--primary-color-3);
  color: var(--gray-light-2);
}

.icon {
  fill: var(--primary-color-4);
  font-size: 3rem;
  cursor: pointer;
}

/* ========= END HEADER TOP ======= */

/* ========= HEADER BOTTOM ======= */

.header__bottom {
  /* position: relative; */

  border: 1px solid blue;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 10rem 0 0 0rem;
  /* margin-bottom: 10rem; */
}

.header__bottom-right {
  /* width: 100px;
  height: auto; */
  /* border: 1px solid red; */
}

.header__bottom-left {
  position: relative;
}

.header__bottom-right img {
  height: auto;
}
.title {
  font-size: 5.4rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 1.8rem;
}

.nombre_title {
  display: inline;
  color: var(--primary-color-2);
}

.line {
  display: block;
  position: absolute;
  background-color: var(--gray-light-3);
  content: "";
  width: 22px;
  height: 3px;
  top: 30px;
  left: -27px;
}

.hand {
  font-size: 4rem;
}

.profession {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  color: var(--primary-color-3);
}

.description-profession {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--gray-dark-3);
  margin-bottom: 1.5rem;
  /* margin-left: 4rem; */
}

/* ---- RRSS --- */

.rrss {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* border: 1px solid red; */
  margin-bottom: 6rem;
}

.rrss .rrss_list {
  display: flex;
  gap: 0.8rem;
}
.rrss .rrss_list li {
  list-style: none;
  font-size: 2rem;
  color: var(--primary-color-4);
  /* margin-bottom: 2rem; */
  cursor: pointer;
}

/* ---- BUTTON DOWNLOADER CV --- */
.dowloader_cv {
  /* border: 1px solid red; */
  background-color: var(--primary-color-3);
  cursor: pointer;
  padding: 2rem;
  font-size: 1.6rem;
  border-radius: 5px;
  color: var(--gray-light-1) !important;
  text-decoration: none;
  transition: all 0.5s;
}

.dowloader_cv:hover {
  background-color: var(--primary-color-1);
}

/* ---- BUTTON ARROW BOTTOM --- */
/* escalar botones */
.icon__downloader {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  /* margin-top: 2rem; */
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

/* agregar efecto al botton */
.container__icon {
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid var(--primary-color-3);
  border-radius: 50%;

  padding: 3rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.container__icon.top {
  /* position: absolute; */
  box-shadow: 0 3px 40px 4px rgba(63, 63, 63, 0.199);
  position: fixed;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid var(--primary-color-3);
  border-radius: 50%;
  right: 10px;
  bottom: 35px;
  padding: 2rem;

  display: flex;

  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  z-index: 9999;
}

.container__icon:hover {
  background-color: var(--primary-color-4);
  border: 1px solid var(--primary-color-4);
}

.container__icon:hover {
  background-color: var(--primary-color-4);
  border: 1px solid var(--primary-color-4);
}

.icon__arrow-bottom {
  font-size: 4rem;
  color: #6449a0;
  text-align: center;
  transition: all 0.5s;
}

.icon__arrow-top {
  font-size: 2rem;
  color: #6449a0;
  text-align: center;
  transition: all 0.5s;
}

.icon__arrow-top:hover {
  color: var(--gray-light-1);
}

.icon__arrow-bottom:hover {
  color: var(--gray-light-1);
}

.vector {
  /* border: 1px solid red; */
  width: 100%;
  /* position: absolute; */
  bottom: 0;

  /* margin-top: 2rem; */
  /* margin: 4rem 0 0 0; */
  z-index: 1;

  display: block;
  margin: 0;
  padding: 0;

  transition: all 0.4s;
}

/* ========= ABOUT ME ======= */

.about__me {
  width: 100%;

  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  background-color: var(--gray-light-1);
  padding: 8rem 0;
  /* margin-top: 2rem; */
  /* margin-bottom: 4rem; */

  /* border: 1px solid red; */
}

.about__me-description {
  /* border: 1px solid red; */
}

/* agregar float a imagen  */
.content {
  /* border: 1px solid green; */
  background-color: var(--white);
  box-shadow: 1px 5px 45px rgba(0, 0, 0, 0.062);
  border-radius: 5px;
  margin: 6.8rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
  position: relative;
}

.content .comillas {
  display: inline-block;

  /* max-height: 6rem; */
  /* border: 1px solid red; */
  color: var(--primary-color-2);
  font-family: "Times New Roman", Times, serif, serif;
  position: absolute;
  top: -65px;
  right: -30px;
  background-color: transparent;
  font-size: 20rem;
  z-index: 10;
  font-weight: 600;
  transform: rotate(-19deg);
  /* overflow: hidden;
  white-space: nowrap; */
}

.content img {
  width: 24rem;
}

.content figcaption {
  /* display: block; */
  letter-spacing: 0.8px;
  line-height: 1.4;
  font-size: 1.6rem;
  word-spacing: 1px;
  font-weight: 500;
}

figcaption .br {
  /* display: inline; */
  display: block;
  content: "";
  clear: both;
  /* width: 40px; */
  height: 10px;
  margin-bottom: 0.1rem;
  /* border: 1px solid red; */
}

/* ========= END ABOUT ME ======= */

/* ========= SECTION ESPECIALIZATION AND HABILITY ======= */

.especialization {
  padding-top: 10rem;
  width: 100%;
  height: auto;
  margin-bottom: 7rem;
  /* border: 3px solid green; */
}

.main__especialization {
  /* border: 1px solid red; */
  height: 100%;

  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.main__especialization .left {
  /* border: 3px solid yellowgreen; */

  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: row;
  gap: 1rem;
  height: 70vh;
  width: 50%;
  margin-left: 4rem;
  overflow: hidden;
}

/* especialization */

.container {
  height: 100%;
  /* border: 1px solid orangered; */
  /* display: flex; */
}

.progress-container {
  /* border: 1px solid red; */
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* gap: 20rem; */
}

.progress-container::before {
  content: "";
  background-color: var(--primary-color-3);
  position: absolute;
  width: 5px;
  transform: rotate(0deg);
  height: 70%;
  z-index: -1;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: var(--primary-color-3);

  border-radius: 50%;
}

.active-circle {
  background-color: var(--primary-color-1);
}

/* especialization */

.left .especializations {
  width: 70%;
  display: flex;
  align-items: center;
}

.main__especialization .especializations {
  /* border: 3px solid red; */

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.especializations .especialization_item {
  /* border: 3px solid red; */

  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  justify-content: center;
  align-items: center;
}

.especializations .especialization_item:nth-child(1) {
  margin-top: 5rem;
  /* border: 1px solid green; */
}

.especializations .especialization_item:nth-child(2) {
  margin-top: 5rem;
  /* border: 1px solid green; */
}

.especializations .especialization_item:nth-child(3) {
  margin-top: 2rem;
  /* border: 1px solid green; */
}

.especializations .especialization_item h3 {
  font-family: inherit;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  align-self: baseline;
  /* color: var(); */
  color: var(--primary-color-3);
  /* color: red; */
}

.especializations .especialization_item p {
  font-family: inherit;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--gray-dark-1);
}

.especializations .especialization_item img {
  width: 5rem;
  height: 5rem;
}

.especializations .especialization_item img.dev {
  width: 6rem;
  height: 5rem;
  /* border: 1px solid red; */
}

/* NIVEL DE HABILIDADES */

.habililities {
  /* border: 1px solid red; */
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.skill {
  /* border: 1px solid green; */
  margin-bottom: 2rem;
  display: block;
  position: relative;
  height: auto;
  width: 100%;
}

.skill h4 {
  font-size: 2rem;
  margin-bottom: 5rem;
  color: var(--primary-color-1);
}

.skill .progress-skill::before {
  content: "";
  background-color: var(--primary-color-2);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 1.8rem;
  /* width: 80%; */
  border-radius: 5px;
  /* z-index: -1; */
}

.progress-skill {
  background-color: var(--gray-light-3);
  border-radius: 5px;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 1.8rem;
  width: 100%;
  /* z-index: 1; */
  /* transition: 0.4s ease; */
}

.skill .progress-skill.html::before {
  width: 85%;
  background-color: var(--primary-color-3);
}

.skill .progress-skill.js::before {
  width: 80%;
  background-color: var(--primary-color-2);
}

.skill .progress-skill.python::before {
  width: 40%;
  background-color: var(--primary-color-3);
}

.skill .progress-skill.css::before {
  width: 75%;
  background-color: var(--primary-color-2);
}

.skill .progress-skill.typescrypt::before {
  width: 40%;
  background-color: var(--primary-color-3);
}

.skill .progress-skill.git::before {
  width: 90%;
  background-color: var(--primary-color-2);
}

/* TECNOLOGIAS */
.tecnologies {
  margin-top: 2rem;
  /* border: 2px solid red; */
  text-align: center;
  height: 45vh;
}

.row {
  margin: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  /* border: 2px solid green; */
}

.icon_tech {
  height: 4rem;
  /* width: rem; */
}

.icon_tech.large {
  height: auto;
  width: 15rem;
}

/* ========= END SECTION ESPECIALIZATION AND HABILITY ======= */

/* =========  SECTION EXPERIENCIA ======= */

.container__main {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 5rem 0 5rem 0;
}

.left .lista__technology {
  /* border: 1px solid burlywood; */
  width: 100%;
}

.prev,
.next {
  font-size: 1.8rem;
  color: var(--gray-light-5);
  display: none;
}

.enabled {
  display: block;
  /* background-color: red; */
}

.actives {
  color: red !important;
  /* color: var(--primary-color-3); */
}

.selector {
  display: none;
}

.left ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.left ul li {
  color: var(--gray-light-4);
  font-size: 2.2rem;
  font-weight: 500;
  list-style: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.left .lista__technology span {
  /* border: 1px solid green; */
  text-align: center;
}

.container__proyect {
  /* border: 2px solid green; */

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 0.3rem;
}
.container__proyect h3 {
  font-size: 2rem;
  color: var(--primary-color-3);
}

.container__proyect ul li {
  list-style: none;
}

.container__proyect span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray-light-4);
  margin-top: 0.5rem;
}

.container__proyect ul {
  display: flex;
  gap: 1.6rem;
}

.container__proyect ul li {
  padding: 0.7rem;
  color: var(--primary-color-1);
  font-weight: 600;
  border-radius: 4px;
  background-color: var(--primary-color-5);
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

/* ========= END SECTION EXPERIENCIA ======= */

/* ========= FOOTER ======= */
footer {
  border: 4px solid green;
  background-color: var(--gray-dark-4);
  /* width: 90vw; */
  height: 47vh;
  display: flex;
  /* flex-direction: column; */
  align-items: end;
  justify-content: space-between;
  /* gap: 2; */
  /* position: relative; */
  padding: 1rem;
}

.space {
  position: absolute;
  top: -5rem;
  /* border: 1px solid gold; */
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
}

.space .information__aditional {
  /* border: 1px solid red; */
  width: 80%;
  background: linear-gradient(
    to right,
    var(--primary-color-2),
    var(--primary-color-1)
  );
  border-radius: 5px;
  box-shadow: 2px 2px 23px rgba(0, 0, 0, 0.3);
  height: 100%;
  color: var(--gray-light-1);
  padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* position: relative; */
}

.information__aditional h4 {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 400;
}

.information__aditional p {
  font-size: 1.6rem;
}

.information__aditional .btn {
  /* border: 1px solid green; */
  margin-top: 1.5rem;
  align-self: center;
  cursor: pointer;
  width: 30%;
  border-radius: 27px;
  padding: 2rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);

  transition: all 0.5s;
}
.darkmode .information__aditional .btn {
  background-color: var(--primary-color-4);
  color: var(--primary-color-1);
}

.information__aditional .btn:hover {
  background-color: var(--primary-color-3);
  color: var(--primary-color-5);
}

.space img {
  /* border: 1px solid gold; */
  width: 33%;
  position: absolute;
  top: -6rem;
  right: 0;

  z-index: 10;
}

.footer__info {
  bottom: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 5rem; */
  padding: 0 1rem 1rem 1rem;
}

.footer__info::before {
  content: "";
  /* position: absolute; */
  top: -35px;
  width: 100%;
  align-items: center;
  height: 1px;
  background-color: var(--gray-light-5);
}

.footer__info div {
  /* border: 1px solid green; */
  font-size: 1.8rem;
  color: var(--gray-light-3);

  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.footer__info .rs {
  cursor: pointer;
  color: var(--primary-color-3);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer__info .rs img {
  width: 2rem;
  height: auto;
}

.copyright {
  flex: 1;
  width: 100%;
  /* align-self: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-light-4);
  font-size: 1.4rem;
}

.fa-moon:before {
  color: #7e5ccc;
  font-size: 3rem;
  cursor: pointer;
}

.desarrolladoByTech p {
  width: 30rem;
  /* width: 290px;
  color: var(--gray-light-4);
  font-size: 1.4rem; */
  /* text-align: center; */
}

/* ========= END FOOTER ======= */

/* ========= MODO OSCURO ======= */

body.darkmode {
  background-color: #1f1e24;
  transition: all 0.2s ease-in-out;
}

header.darkmode {
  background-color: #1f1e24;
  transition: all 0.2s ease-in-out;
}

.darkmode.img_logo {
  transition: all 0.8s;
}

.darkmode.nombre_title {
  color: var(--primary-color-3);
}

.darkmode.title {
  color: var(--gray-light-1);
  transition: all 0.4s ease-in-out;
}
span.darkmode {
  color: var(--primary-color-4);
}

.darkmode.profession {
  color: var(--primary-color-4);
}

.darkmode .description-profession {
  color: var(--primary-color-3);
  /* font-size: 24rem; */
}

.darkmode.fa-moon:before {
  color: var(--gray-light-2);
  transition: all 0.4s ease-in-out;
}

.darkmode.about__me {
  background-color: var(--darkmode);
}

.darkmode.content {
  background-color: #7e5ccc;
}

figcaption.darkmode {
  color: var(--white);
}

.darkmode.name__section {
  color: var(--gray-light-2);
}

.content .comillas.darkmode {
  color: var(--gray-light-1);
}

.darkmode.experience {
  background-color: var(--darkmode);
  transition: all 0.6s;
}

footer.darkmode {
  background-color: var(--darkmode);
  transition: all 0.4s;
}

.darkmode .container__proyect p {
  /* color: red; */
  color: var(--gray-light-3);
  font-size: 1.6rem;
  transition: all 0.4s;
  font-weight: 600;
}

.darkmode .especialization_item h3 {
  color: var(--primary-color-3);
}

.darkmode .skill {
  color: #f5f5f5;
}

.darkmode.active ul .lista__technology {
  color: var(--primary-color-3);
}

.darkmode .skill h4 {
  color: var(--gray-light-2);
}

/* .active__technology {
  color: var(--primary-color-3);
} */

.darkmode.header__top {
  background-color: var(--darkmode);
  border: 1px solid var(--darkmode);
}
/* ========= END MODO OSCURO ======= */

/* ========= RESPONSIVE ======= */

/* ========= END RESPONSIVE ======= */

.scrool {
  /* background-color: red; */
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.062);
}

.subir {
  padding: 0px;
  height: auto;
  border: 2px solid red;
}

.margen {
  margin-top: 30rem 0 0 0;
}

.effect_machine {
  display: block;
  /* font-family: monospace; */
  white-space: nowrap;
  border-right: 4px solid;

  width: 13ch;

  animation: typing 5s steps(16, end) infinite alternate,
    blink 0.3s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.swiper {
  width: 100%;
  height: 400px;
}

.left .active__technology {
  color: var(--primary-color-3);
}

.activeLi {
  color: var(--primary-color-3) !important;
}

.experience {
  /* border: 2px solid red; */
  background-color: var(--gray-light-1);

  /* margin-bottom: 5rem; */
  /* padding: 2rem; */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.right {
  /* border: 1px solid goldenrod; */
  display: flex;
  gap: 4rem;
}

.left {
  width: 50%;
}

.experience .contenido {
  /* border: 2px solid red; */
  visibility: hidden;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.experience .contenido.active {
  position: initial;
  visibility: visible;
  opacity: 1;
  width: auto;
  height: auto;
  transform: translateY(0);
  transition: all 0.8s;
}

.card-container {
  display: flex;
  /* border: 2px solid green; */
  /* gap: 1; */
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.carousel {
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 50px 0 60px 0;
  padding: 4rem 0 4rem 0;

  height: 300px;
  max-width: 500px;
  overflow: hidden;
}

.card {
  /* background-color: #fff; */
  /* border-radius: 15px; */
  /* box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1); */
  min-width: 500px;
  height: 600px;
  /* opacity: 0; */

  padding: 1.5rem 0.6rem 1.5rem 0.7rem;
}

.list-item-exp {
  width: 100%;
  height: 4rem;
  /* border: 1px solid red; */
  transition: all 0.4s;
}

.darkmode .list-item-exp {
  color: var(--gray-light-1);
}

.list-item-exp:hover {
  color: var(--primary-color-3);
}

.darkmode .list-item-exp:hover {
  color: var(--primary-color-3);
}

.list-item-exp.active {
  color: var(--primary-color-3);
}

button {
  border-radius: 4px;
  /* box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  margin: 0 1rem 0 1rem;
  padding: 1rem;
  font-size: 0.9rem;

  font-weight: 500;
  border: none;
  transition: all 0.4s;

  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.darkmode button {
  background-color: var(--primary-color-1);
  color: var(--gray-light-1);
}

button:hover {
  background-color: var(--primary-color-3);
  color: var(--white);
}

.darkmode button:hover {
  background-color: var(--primary-color-3);
  color: var(--white);
}

button i:hover {
  color: var(--white);
}

button.active {
  display: block;
}

.item-card {
  /* border: 1px solid red; */
  padding: 4rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  /* background-color: #fff; */
}

.item-card .item {
  /* border: 1px solid green; */
  background-color: var(--white);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

  border-radius: 14px 0 14px 0;
  padding: 3rem 1rem 3rem 1rem;

  max-width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.darkmode .item-card .item {
  background-color: var(--primary-color-3);
  color: var(--gray-light-1);
}

.item p {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--gray-dark-2);
}

.darkmode .item p {
  color: var(--gray-light-1);
}

.item h5 {
  color: var(--primary-color-3);
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
}

.darkmode .item h5 {
  color: var(--gray-light-1);
}

.item .datespan {
  font-size: 1.2rem;
  color: var(--gray-light-4);
  font-weight: 500;
}

.item .tags {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.darkmode .item .tags span {
  background-color: var(--primary-color-1);
  color: var(--gray-light-1);
}

.item .tags span {
  border-radius: 4px;
  font-weight: 500;
  background-color: var(--primary-color-5);
  color: var(--primary-color-1);
  padding: 0.6rem;
}

.item h1 {
  font-size: 1.8rem;
  color: #555;
}

.darkmode .item h1 {
  color: var(--gray-light-1);
}

body {
  border: 1px solid #7e5ccc;
}

/* FOOTER MEJORADO */

footer .developers,
footer .copyr,
footer .redes_sociales {
  width: calc(100% / 3);
  border: 1px solid red;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

footer .developers p,
footer .copyr p {
  text-align: center;
  font-size: 1.4rem;
  color: var(--white);
}
